img{
    width: 200px;
    transform: rotatey(180deg);
    position: relative;
    left: 0px;
    top: 70px;
    animation-name: car;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes car {
    0%{left: 0;}
    50%{left: 85%;
        transform: rotatey(180deg);
    }
    51%{transform: rotatey(360deg);}
    100%{left: 0;
transform: rotate(360deg);
    }
}